# config/config.yaml

data:
  path: "data/german.data"
  target_col: "Risk"
  test_size: 0.2
  random_state: 42

model:
  name: "xgboost"
  params:
    # Aquí pegamos los valores que nos dio Optuna
    n_estimators: 400     
    max_depth: 6         
    learning_rate: 0.12     
    subsample: 0.7         
    colsample_bytree: 0.77  
    gamma: 4.14              
    scale_pos_weight: 4.79   
    
    # Estos parámetros se mantienen fijos siempre
    n_jobs: -1              # Usa todos los núcleos del PC
    random_state: 42        # Para que sea reproducible
    eval_metric: "logloss"  # Métrica de evaluación interna

mlflow:
  experiment_name: "Credit_Risk_Scoring_Prod"
