# config/config.yaml

data:
  path: "data/german.data"
  target_col: "Risk"
  test_size: 0.2
  random_state: 42

model:
  name: "xgboost"
  params:
    # --- Pega aquí los valores que te dio Optuna ---
    n_estimators: 400     
    max_depth: 6         
    learning_rate: 0.12     
    subsample: 0.7         
    colsample_bytree: 0.77  
    gamma: 4.14              
    scale_pos_weight: 4.79   
    
    # --- Mantén estos parámetros fijos siempre ---
    n_jobs: -1              # Usa todos los núcleos del PC
    random_state: 42        # Para que sea reproducible
    eval_metric: "logloss"  # Métrica de evaluación interna

mlflow:
  experiment_name: "Adult_Income_Engineering"
